@model IList<NetCommunitySolution.Web.Models.Catalog.CategoryModel>

<div class="category-title">
    热门分类
</div>
<div class="category-list">
    <ul class="layui-nav layui-nav-tree" lay-filter="category-nav">
        @foreach (var item in Model)
    {
        <li class="layui-nav-item @if (ViewBag.CurrentId == item.Id) { <text> layui-this</text>} "><a href="@Url.Action("PostCatalog", "Post", new { categoryId = item.Id })">@item.Name</a></li>
}
    </ul>
</div>

<script>
    layui.use('element', function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
        element.render();

    });
</script>