.clearfix,
.clearfix::after,
.clearfix::before {
    display: table;
    content: " ";
}

a,a:hover{
    text-decoration:none;
}
.layui-layout-body .layui-layout-admin .layui-header .layui-logo a {
    color: #009688;
}
