/* Common */
a,a:hover{text-decoration:none;}

.layui-nav-tree{
    width:100%;
}
/* Top */
.layui-header .layui-logo a {
    color: #ff6a00;
}.navbar-fixed-top .customer-status {
    margin: 0;
    padding: 0;
}
.navbar-fixed-top .customer-status li {
    margin: 0;
    padding: 0;
    float:left;
    list-style:none;
}

    .navbar-fixed-top .customer-status li a {
        color: #fff;
        padding:14.5px 15px;
        line-height:21px;
        display:block;
    }
        .navbar-fixed-top .customer-status li a:hover {
            text-decoration: none;
            background: #0066cc
        }

.layui-header .layui-subtitle {
    position:absolute;
    height:100%;
    line-height:60px;
    left:200px;
    color:#fff;
    text-decoration:underline;
}
.layui-header .search-box {
    left: 550px;
}
    .layui-header .search-box .search-input {
        border: none;
        display: inline-block;
        margin: 11px;
        padding:0 8px;
        height: 38px;        
        width: 380px;
    }
    .navbar-fixed-top .search-box .search-btn {
        border: none;
        background:#eee;
        text-decoration:none;
        display:inline-block;
        margin-left:-5px;
        padding:10px;
        border-left:1px solid #ccc;
        cursor:pointer;
    }

/* container-fluid */
.container-fluid .wrapper {
    margin-top:70px;
}

/* Home Category */
.catalog-box {
    margin-top: 15px;
    background: #393d49;
}
    .catalog-box .category-title {
        margin-top: 15px;
        padding: 15px;
        color: #fff;
        font-weight: 700;
        border-bottom: 3px solid #009688
    }
.content-label-box {
    margin-top: 15px;
}

    .content-label-box .content-label-title {
        padding: 15px;
        background: #4e5465;
        color: #fff;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .content-label-box .content-label-body {
        padding: 15px;
        border:1px solid #ccc;
        border-top:none;
    }
.customer-status .dropdown .dropdown-menu {
    background: #007fff;
}
    .customer-status .dropdown .dropdown-menu .member-item {
        margin:0 auto;
        float:none;
    }
    .customer-status .dropdown .dropdown-menu .member-item a{
        display:block;
    }

.customer-navigation .title {
    background: #23262e;
    color: #fff;
    line-height: 40px;
    text-align: center;
}


/* Content Buttons */
.site-content .buttons{
    margin-bottom:12px;
}

/* Hot Posts*/
.hot-posts .title h5{
    font-weight:800;
    color:#23262e;
    font-size:18px;
    border-bottom:1px solid #ccc;
    padding-left:12px;
}

.post-box .question-item {
    overflow: hidden;
    padding: 12px 0 10px 0;
    border-bottom: 1px solid #E4E6E8;
}
    .post-box .question-item .tip {
        float:left;
    }
    .post-box .question-item .icon{
        display:inline-block;
        padding:15px;
    }

        .post-box .question-item .icon i,
        .post-box .question-item .icon span {
            display:block;
            text-align:center;
        }
    .post-box .question-item .votes a{
        color:#ff6a00;
    }
    .post-box .question-item .ans a{
        color: #009688;
    }
    .post-box .question-item .view a {
        color: #2f4056;
    }
 .post-box .question-item .layui-icon {
    font-size: 30px;
}

    .post-box .question-item .summary {
        padding: 0 0 30px 0;
        margin-left: 200px;
    }
        .post-box .question-item .summary .post-box-title {
            color: #005999;
            font-weight: 600
        }
            .post-box .question-item .summary .post-box-title:hover {
                color: #3AF;
            }
 
.post-box .question-item .summary .labels {
    margin-top: 11px;
}
        .post-box .question-item .summary .labels .label-tag {
            color: #33658A;
            background-color: #CEE0ED;
            border-color: transparent;
            padding: 2px 9px;
            margin-right:18px;
            display:inline-table;
        }
            .post-box .question-item .summary .times{
                color: #07C;
                background-color: #CEE0ED;
                border-color: transparent;
                padding: 2px 9px;
                position:absolute;
                right:20px;
                height:25px;
                line-height:25px;
            }


        .post-box .question-item .summary .customer {
            color:#000;
            font-weight:600;
        }
/* customer-info-box */

.customer-info-box {
    padding: 0 15px;
    margin-top:15px;
    position: relative;
    background: #f2f2f2;
}

    .customer-info-box .avatar,
    .customer-info-box .times {
    }
    .customer-info-box .avatar {
        position:absolute;
    }
    .customer-info-box .times {
            display: block;
            margin-left: 108px;
            height:96px;
            padding-left:8px;            
        }

        .customer-info-box .times span {
            display: block;
            font-size: 12px;
            line-height: 20px;
        }
        .customer-info-box .times h5 {
            line-height: 36px;
        }

.post-from .comment-title {
    background: #f2f2f2;
    padding: 12px 4px;
    margin-bottom:20px;
}
.post-from .comment-title h5{
    color:#ff6a00;
}

/* Comment List*/
.comment-list .comments .post-comment {
position:relative;
}

    .comment-list .comments .post-comment .comment-info {
        position: absolute;
        width:100px;
    }
        .comment-list .comments .post-comment .comment-info .user-avatar {
        }
        .comment-list .comments .post-comment .comment-info .user-info {
            margin-top: 15px;
        }
    .comment-list .comments .post-comment .comment-content {
        display: block;
        margin-left:120px;
    }


        .comment-list .comments .post-comment .comment-content .q_time {
            color: #777;
            font-size: 12px;
        }
