/* Common */
a,a:hover{text-decoration:none;}

/* Top */
.navbar-fixed-top .customer-status{
    margin:0;
    padding:0;
}
.navbar-fixed-top .customer-status li {
    margin: 0;
    padding: 0;
    float:left;
    list-style:none;
}

    .navbar-fixed-top .customer-status li a {
        color: #fff;
        padding:14.5px 15px;
        line-height:21px;
        display:block;
    }
        .navbar-fixed-top .customer-status li a:hover {
            text-decoration: none;
            background: #0066cc
        }

.layui-header .search-box {
}
    .layui-header .search-box .search-input {
        border: none;
        display: inline-block;
        margin: 11px;
        padding:0 8px;
        height: 38px;        
        width: 380px;
    }
    .navbar-fixed-top .search-box .search-btn {
        border: none;
        background:#eee;
        text-decoration:none;
        display:inline-block;
        margin-left:-5px;
        padding:10px;
        border-left:1px solid #ccc;
        cursor:pointer;
    }

/* container-fluid */
.container-fluid .wrapper {
    margin-top:70px;
}

/* Home Category */
.catalog-box {
    margin-top:15px;
}
.content-label-box {
    margin-top: 15px;
    padding:15px;
    border:1px solid #ccc;
}
.customer-status .dropdown .dropdown-menu {
    background: #007fff;
}
    .customer-status .dropdown .dropdown-menu .member-item {
        margin:0 auto;
        float:none;
    }
    .customer-status .dropdown .dropdown-menu .member-item a{
        display:block;
    }

.customer-navigation .title {
    background: #23262e;
    color: #fff;
    line-height: 40px;
    text-align: center;
}