@model NetCommunitySolution.Domain.Settings.RewardPointSetting
@using NetCommunitySolution.Domain.Settings;
@{
    ViewBag.Title = "积分配置";
    ViewBag.ActiveMenu = "Setting"; //The menu item will be active for this page.
    ViewBag.ActiveItem = "Reward-Setting"; //The menu item will be active for this page.
}


@if (!String.IsNullOrEmpty(ViewBag.Result))
{
    <script type="text/javascript">
        layer.open({
            title: '修改配置'
            , content: '积分配置保存成功'
        });
    </script>
}
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>积分配置</legend>
</fieldset>
@using (Html.BeginForm("RewardSetting", "Setting", FormMethod.Post, new { @id = "reward-setting", @class = "layui-form" }))
{
    @Html.AntiForgeryToken()

    <div class="layui-row">
        <div class="layui-col-md1 layui-col-md-offset11">
            <button class="layui-btn layui-btn-normal">保存</button>
        </div>
    </div>



    <div class="layui-form-item">
        @Html.NETLabelFor(model => model.Enabled)

        <div class="layui-input-block">
            @Html.NETEditorFor(model => model.Enabled)
        </div>
    </div>
}
<script>
    layui.use('form', function () {
        var form = layui.form;
        //各种基于事件的操作，下面会有进一步介绍
        form.render();
    });
</script>

