@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.ActiveMenu = "Home"; //The menu item will be active for this page.
}

<div class="row">
    <!-- 首页 类目-->
    <div class="col-md-2">
        @Html.Action("TopMenu", "Catalog")
    </div>

    <div class="col-md-7">

    </div>

    <div class="col-md-3">

    </div>
</div>