@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="layui-row">
    <div class="layui-col-md2">
        <!-- 首页 类目-->
        <div class="catalog-box">
            @Html.Action("TopMenu", "Catalog")
        </div>
        <!-- 首页 标签-->
        <div class="content-label-box">
            @Html.Action("HotLabel", "ContentLabel")
        </div>
        
    </div>

    <div class="layui-col-md8">
        <div class="content" style="padding:15px">
            @Html.Action("HotPost", "Post")
        </div>
    </div>

    <div class="layui-col-md2">

    </div>
</div>