@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="row">
    <div class="col-md-2">
        <!-- 首页 类目-->
        @Html.Action("TopMenu", "Catalog")
        <!-- 首页 标签-->
        @Html.Action("HotLabel", "ContentLabel")
        
    </div>

    <div class="col-md-7">

    </div>

    <div class="col-md-3">

    </div>
</div>