@model NetCommunitySolution.Web.Areas.Operate.Models.Catalog.ContentLabelModel
@{
    ViewBag.Title = "编辑标签";
    ViewBag.ActiveMenu = "Catalog"; //The menu item will be active for this page.
    ViewBag.ActiveItem = "Catalog-Label"; //The menu item will be active for this page.
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "label-form", @class = "layui-form" }))
{
    @Html.AntiForgeryToken()
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>编辑标签</legend>
    </fieldset>
    <div class="layui-row">
        <div class="layui-col-md3 layui-col-md-offset9">
            <a class="layui-btn layui-btn-warm" href="@Url.Action("Index")">返回列表</a>
            <button type="submit" name="save" class="layui-btn layui-btn-normal">
                <i class="fa fa-floppy-o"></i>
                保存
            </button>
            <button type="submit" name="save-continue" class="layui-btn layui-btn-danger">
                <i class="fa fa-floppy-o"></i>
                保存并编辑
            </button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}


