@model IList<NetCommunitySolution.Web.Models.Catalog.ContentLabelModel>

@{

    var classNames = new string[] { "","layui-bg-orange","layui-bg-green","layui-bg-cyan","layui-bg-blue","layui-bg-black", "layui-bg-gray" };
    Random rd = new Random();
}

<div class="content-labels">
    @foreach (var item in Model)
    {
        <span class="layui-badge @classNames[rd.Next(classNames.Length)]">@item.Name</span>
    }
</div>